<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
</head>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MusicMatcher</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" name="homepg" id="homepg" href="../home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.bbc.co.uk/sport">Sports</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Life & Work
          </a>
          <ul class="dropdown-content dropdown-menu">
            <li><a class="dropdown-item" href="http://www.google.co.uk">Google</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/ashley-lee-richards/">My LinkedIn</a></li>
            <li><a class="dropdown-item" href="https://github.com/leerichie/">My Github</a></li>
          </ul>
        </li>
   
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<body>

  <!-- create -->

  <div class="flex-container">
<div class="row">
  <div class="column">
    <ul class="title-one">
      <form #regForm="ngForm" (ngSubmit)="register(regForm)">
      <label for="artist" class="form-label">Add to collection:</label>
      <div class="le-box">
        <input type="text" #artist (ngModel)="artist" name="artist" id="artist" placeholder="Artist name...">
    <br><br>
      <input type="trackTitle" #trackTitle (ngModel)="trackTitle" name="trackTitle" id="trackTitle" placeholder="Track title...">
        <input type="btn btn-outline-success" class="button-space" type="submit" value="Create">
      </div>
    </form>
  </ul>
  </div>

<!-- search -->

  <div class="column">
    <ul class="title-one">
      <form #regForm="ngForm" (ngSubmit)="register(regForm)">
      <label for="artist" class="form-label">Search collection:</label>
      <div class="le-box">
        <input type="text" #artist (ngModel)="artist" name="artist" id="artist" placeholder="Artist name...">
        <input type="btn btn-outline-success" class="button-space" type="submit" value="Search artist">
    <br><br>
      <input type="trackTitle" #trackTitle (ngModel)="trackTitle" name="trackTitle" id="trackTitle" placeholder="Track title...">
        <input type="btn btn-outline-success" class="button-space" type="submit" value="Search track">
      </div>
    </form>
  </ul>
  </div>
</div>
</div>

<!-- collection -->

<div class="flex-container">
  <div class="row">
 
    <ul class="title-two">
      <div class="le-box-two">
        <label for="form-label" class="form-label">Track List</label>
        <td class="heading-titles td-number">ID</td>
        <td class="heading-titles">Artist</td>
        <td class="heading-titles">Track Title</td>
    <tr *ngFor="let user of users">
      <td class="td-number">{{user.id}}</td>
      <td>{{user.artist}}</td>
      <td>{{user.trackTitle}}</td>
      <td class="button-collection">
        <a href="#" class="btn btn-outline-success le-button ">Update</a>
        <button class="btn btn-outline-success le-button-delete" (click)="deleteU(user)">Delete</button>
      </td>
    </tr>
    </div>
    </ul>

</div>
</div>
</body>
<!-- <script type="text/javascript"> src='./script.js'</script> -->
</html>